@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

h3, h4, h2 {font-family: 'Open Sans', sans-serif; font-weight: 400;}.lead {
    font-weight: 600;}
	
.lead {
    font-weight: 600;}

.cta-space {margin-left: 40px;}
/*================ Adding to the Bootstrap-NMSU style ==============*/
	
.carousel-caption h2, .carousel-caption h1 {font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 3.5em !important; /*text-transform:uppercase;*/ }
.carousel-caption p { font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 24px;}
.navbar > .container-fluid .navbar-brand {margin-top: -10px;}
.navbar-default .navbar-nav > li > a {color: #ffffff;}
.navbar-default .navbar-nav > li > a:hover {color: #ffffff;}
.navbar-default .navbar-nav > li > a:active {color: #ffffff;}
.navbar-default .navbar-nav > li > a:visited {color: #ffffff;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {color: #ffffff;
background-color: #741e3b;}	
.navbar-default .navbar-nav > li > a:hover {background-color: #741e3b;}

/*================ masthead ==============*/
video{width:100%}
#masthead1 {
	min-height: 120px;
	background-color: #882345;
}
#logo {position: relative; padding-top: 20px;padding-bottom: 20px; padding-left:20px; z-index: 1050;}     


.bold-links {color: #ffffff; font-size: 14px; font-family: 'Montserrat', Tahoma, sans-serif; font-weight: 800; margin-top: 80px;}
.bold-links a {color: #ffffff;  text-decoration: none; padding-right: 10px; padding-left: 10px; letter-spacing: 1px;}
.bold-links a:hover {color: #eaab0d;}
.quick-links a{ display:block; font-weight: 800; font-size:16px;}
.quick-links a:hover{ text-decoration: none;}

.logoSmall {
	display: none;
    position: fixed;
	z-index: 1;
	}
	
/*================ CSS Transistions ==============*/
	.fadeInBlock {
    opacity:0;
}
.fixed-element{
    position:fixed;
    top:0;
    opacity:0;
    transition:opacity 0.1s ease-in-out;
}
.hasScrolled{
    opacity:1;
}

/*================ Navigation .navbar-main ==============*/
 .navbar-main .navbar-nav>.active>a:hover,.navbar-main .navbar-nav>li>a:hover, .navbar-main .navbar-nav>li>a:focus { background-color: #721E3D}
 .navbar-main .navbar-nav>.active>a,.navbar-main .navbar-nav>.open>a,.navbar-main .navbar-nav>.open>a, .navbar-main .navbar-nav>.open>a:hover,.navbar-main .navbar-nav>.open>a, .navbar-main .navbar-nav>.open>a:hover, .navbar-main .navbar-nav>.open>a:focus { background-color: #721E3D}

.navbar-main { border-color: #882345; font-size: 16px;}
.navbar-main .navbar-nav>li>a { color: #FFFFFF}
.navbar-main .navbar-nav>li>a:hover, .navbar-main .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-main .navbar-nav>.active>a,.navbar-main .navbar-nav>.open>a, .navbar-main .navbar-nav>.open>a:hover, .navbar-main .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-main .navbar-nav>.active>a:hover, .navbar-main .navbar-nav>.active>a:focus { color: #FFFFFF}
.navbar-main .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-main .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-main .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-main .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
.navbar-main .navbar-nav > li > a {color: #000000;
}

.overlay { /*background-color: rgba(136, 35, 69, 0.5);
    height: 60px;
    box-sizing: border-box;
    line-height: 3.5em;*/
	width: 100%;
    position: absolute;
    bottom: 0px;
    top: 0px;
   /* z-index: -20;*/
    overflow: hidden;
/*    background-image: -moz-linear-gradient(center top , rgba(136, 35, 69, 0.9) 100%, transparent 40%, rgba(255, 144, 0, 0.15) 0%);
*/	background-image: -moz-linear-gradient(center top , rgba(225, 225, 225, 0.8) 100%, transparent 40%, rgba(255, 144, 0, 0.15) 0%);height: 50px;
} 
.navbar1 {
    position: relative;
/*    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;*/
	margin: 0px;
}
/*================ Main Navigation .navbar-main ==============*/
#main-navigation ul.navbar-nav li > a {
    border: none;
}
#main-navigation ul.navbar-nav li:last-of-type > a{
    border: none;
}
#main-navigation ul.navbar-nav li a:hover, #main-navigation ul.navbar-nav li a:focus  {
   background-color: #6a1b36;
}
#main-navigation li ul.dropdown-menu li a:hover{
   background-color: #efefef;
}
#main-navigation li ul.dropdown-menu{
    border-top: 1px solid #882345;
}


/*================ Buttons ==============*/
.btn-outline, .btn-outline:link, .btn-outline:visited {
    margin-top: 25px;
    background-color: transparent;
    border-radius: 0;
    color: #ffffff;
    border: 2px solid #ffffff;
}
.btn-outline:active, .btn-outilne:hover, .btn-outline a:hover {
    background-color: #ffffff;
    color: #882345
}
#theme-info .btn-primary,
.news .btn-primary,
#theme .btn-primary,
#single .btn-primary   {
    color: #FFF;
    background-color: #4D4D4D;
    border-color: #454545;
	font-family: "open sans", sans-serif;
	margin-top: 25px;
	font-size: 18px;
}
.aggie-buttons {margin-bottom: 100px; margin-top: 75px;}
#BeAnAggie .btn-primary, 
.media-overlay-static .btn-primary {
    color: #333;
    background-color: #fc3;
    border-color: #eaab0d;
	font-family: "open sans", sans-serif;
	font-size: 18px;
}
.media-overlay-static .btn-primary {margin-top: 25px; margin-bottom: 25px;}
/*================ THEME SECTIONs ==============
*/
#theme {margin-top: 50px; margin-bottom: 50px;}
#theme h1 {font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 46px;} 
#theme h1 span {font-family: 'Open Sans', sans-serif; font-weight: 400;}
#theme p.lead {font-size:16px;}
#theme-info h2.lead {font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 24px;}

#BeAnAggie h1 {font-family: 'Montserrat', sans-serif; font-weight: 800; font-size: 60px; padding-top: 120px; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);}
#hero h2, #hero h1 {font-family: 'Open Sans', sans-serif; font-weight: 600; padding-top: 1em;}

/*================ DEGREE PROGRAMS ==============
*/

p.numbers {
    font-size: 70px;
    text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;}
p span.counter {
    font-size: 80px;
    color: #ffffff;
}

.panel-discovery  .description {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
	color: #ffffff;
font-family: "open sans", sans-serif;
font-size: 18px;
}

#theme  .description {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
	color: #333333;
font-family: "open sans", sans-serif;
font-size: 18px;
padding-top: 35px;
}

#theme p.numbers,
.news p.numbers {
    font-size: 50px;
    text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #882345;}
p span.counter-ext {
    font-size: 40px;
    color: #333333;
}

/*================ NEWS SECTION ==============*/
.news {
	background-color: #EDEDED;
	padding-top: 60px;
	padding-bottom: 60px;
	color: #333333;
}
.news h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 40px;
	margin-bottom: 35px;
}
.news p.lead {font-family: 'Open Sans', sans-serif; font-weight: 400; }

ul#headlines {
  /*  margin-top: 10px;*/
    margin-left: -40px;
}
ul#headlines li {
    list-style-type: none;
    margin-left: 0px;
}

#headlines li a {
    border-bottom: 1px solid #DDD;
    line-height: 1.5em;
    padding: 1em 1em;
    color: #882345;
}

#headlines a:link, #headlines a:visited {
    text-decoration: none;
    display: block;
}

#headlines a:hover {
    text-decoration: none;
    display: block;
	background-color: #F2F2F2;
	 color: #490513;
}
h3.features {
    text-align: left;    
	text-transform: uppercase;
    font-size: 1em;
	font-family: 'Montserrat', sans-serif; font-weight: 700;
}


/*================ footer ==============*/
.paddedtop {padding-top: 85px !important;}
.bg-bottom {
	background-color: #882345;
	padding-top: 50px;
	padding-bottom: 100px;
}

.bottom-logo {margin-left: 30px;}

.address > li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
	margin-top: 25px;
	margin-bottom: 15px;
	border-right: 1px solid #ca0e74;
	color: #ffffff;
}
.address > li a {color: #ffffff;}
h3.general-information {
    text-align: left;    
	text-transform: uppercase;
    font-size: 1em;
	font-family: 'Montserrat', sans-serif; font-weight: 700;
	color:#fc3
}
.general-information > li {
    display: block;
    padding-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #ffffff;
}
.general-information {padding-left: 0px}
.general-information > li a {color: #ffffff;}
.general-information > li a:hover {text-decoration:underline;}


.address > li:last-child, .general-information >li:last-child {
	border-right: none;
}	
.list-inline {margin-top: 25px;}

/*================ INTERIOR PAGE ONLY  ==============*/
nav.sidebar {border: 1px solid #CCC; background-color: #F0F0F0;}
nav.sidebar li {border-bottom: 1px solid #E0E0E0; }
nav.sidebar li:last-child {border-bottom: none; }

#sidebar a {
    margin-bottom: 0em;
}
#sidebar a:hover {
    background-color: #ffffff;
}
.sidebar .nav > .active > a, .sidebar .nav > .active:hover > a, .sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #882345;
    background-color: #ffffff;
}
.sidebar .nav > a {padding-top: 5px; padding-bottom: 5px; margin-bottom: 0px;}
nav .sidebar .panel-group {margin-bottom: 8px !important;}
.sidebar .panel-group {
    margin-bottom: 0px;
}
#accordion .panel-group .panel,
#accordion1 .panel-group .panel,
#accordion2 .panel-group .panel {border-radius: 0px;}
#accordion .panel,
#accordion1 .panel {box-shadow: none; background-color: transparent;}
#accordion .panel:hover,
#accordion1 .panel:hover {background-color: #ffffff;}


#accordion .panel-title,
#accordion1 .panel-title {
    font-size: 14px; color: #882345;}
#accordion .panel-body,
#accordion1 .panel-body {background-color: #ffffff;}
#accordion .panel-body ul,
#accordion1 .panel-body ul  {list-style: outside none none; padding-left: 0px;}
#accordion .panel-body li,
#accordion1 .panel-body li  {margin-bottom: 10px; border-bottom: none !important;}
p.ataglance {
    margin-top: -10px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}

.visit-list > li,
.department-list > li  {
    display: block;
    padding-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.visit-list,
.department-list  {padding-left: 0px}
.visit-list > li a {color: #882345;}
.visit-list > li a:hover {text-decoration:underline;}
.department-list > li a {color: #444444;}


/*================ 3RD LEVEL  PAGE ONLY  ==============*/

#single {margin-bottom: 150px;}
#double {margin-bottom: 50px;}
p.subhead {text-transform: uppercase; padding-top: 25px;}

.tab-content {background-color: #ffffff; border: 1px solid #DDD;}
.pagination {margin-bottom: -5px;}
p.caption {font-size: 10px; font-style:oblique; padding-top: 5px; text-align:center;}
.media-left, .media > .pull-left {
    padding-right: 30px;
}
.underline { border-bottom: 1px solid #DDD; padding-bottom: 5px;}
h4.headline {
    text-align: left;    
	text-transform: uppercase;
    font-size: 1em;
	font-family: 'Montserrat', sans-serif; font-weight: 700;
}

.padded-divider {margin-top: 50px !important;}

/*================ A-Z LIST PAGE  ==============*/
ul.alpha_nav {
    margin: 20px;
    padding: 0px;
    overflow: hidden;
}
ul.alpha_nav li {
    margin: 0px;
    padding: 5px 0px;
    display: inline-block;
    list-style: outside none none;
	border-bottom: none;
}

.alpha_nav li > a{ padding: 5px 10px;
    }

.alpha-name { font-family: "Open Sans",sans-serif;
font-weight: 400; font-size: 24px; margin-top: 50px !important;
margin-bottom: 10px;}

/*================ NMSU SYSTEM PAGE ================*/
.cu-locations{background-color:#000;float:left;width:100%;margin-bottom:18px}.cu-locations .media-box{margin:0;overflow:visible; color: #ffffff;}@media (min-width: 60em) and (max-width: 69em){.cu-location .media-overlay{padding:18px}}.cu-location .media-title{margin-bottom:4px}@media (min-width: 60em){.cu-location .media-title{font-size:26px}}.lt-ie9 .cu-location .media-title{font-size:26px}.cu-location .divider{margin-bottom:12px;padding-bottom:12px}.cu-location .divider:after{height:2px;width:37px}.cu-location-set{float:left;width:100%}@media (min-width: 36em) and (max-width: 60em){.cu-location-set{width:50%}}@media (min-width: 60em){.cu-location-set{width:25%}.cu-location-set.right{margin-left:50%;margin-right:-100%}}.lt-ie9 .cu-location-set{width:25%}.lt-ie9 .cu-location-set.right{margin-left:50%;margin-right:-100%}.cu-location.primary{float:left;width:100%}@media (min-width: 60em){.cu-location.primary{margin-left:25%;margin-right:-100%;width:50%}}.lt-ie9 .cu-location.primary{margin-left:25%;margin-right:-100%;width:50%}.cu-location.primary .media-rollover .media-title{font-size:42px}.cu-location.primary .media-copy{display:none;font-size:20px;margin:30px 5% 12px}@media (min-width: 60em){.cu-location.primary .media-copy{display:block}}.lt-ie9 .cu-location.primary .media-copy{display:block}@media (min-width: 60em){.cu-location.primary .media-title{font-size:36px}}.lt-ie9 .cu-location.primary .media-title{font-size:36px}.cu-location.primary .media-cta{font-size:16px}.cu-location.primary .divider:after{height:3px;width:65px}.cu-location-mask{position:relative;overflow:hidden;width:100%}.cu-location-slideshow{position:absolute;left:0px;top:0px;width:100%}.cu-location-slideshow .cu-location{position:absolute;width:100%}

.vjack:before{content:"";display:inline-block;height:100%;vertical-align:middle;margin-right:-0.25em}
.vcenter{display:inline-block;vertical-align:middle;width:99%}
.vbottom{display:inline-block;vertical-align:bottom;width:99%}
.section{padding:30px 0;clear:both;position:relative;width:100%}
.media-box {
    display: block;
    position: relative;}
	.media-box img, img.media-img {
    display: block;
    position: relative;
    width: 100%;
}
.media-overlay.vjack {
}
.media-box .media-overlay {
    background-image: linear-gradient(transparent 30%, rgba(0, 0, 0, 0.6));
}
.media-overlay {
    transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 18px;
    z-index: 100;
}

.media-overlay-static {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 18px;
    z-index: 100;
}
.media-overlay-static .media-copy {padding-top: 30px; padding-right: 20px;}

.vbottom {
    display: inline-block;
    vertical-align: bottom;}
	.cu-location.primary .media-title {
    font-size: 36px;
}.media-tag {
    font-family: "open sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    font-size: 11px;
}
.media-rollover {
    transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    padding: 5% 10%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 200;
}

.media-title { 
	color: #ffffff;
	font-family: "open sans", sans-serif;
	font-size: 21px;
	font-weight: 600;}

.media-title  h2 {font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 46px; margin-top: 30px; border-right: 2px solid #FFFFFF; padding-top: 20px;
padding-bottom: 30px;} 

.media-title  p.lead a {color: #ffffff;} 
.media-copy {color: #ffffff;}
.media-rollover{-webkit-font-smoothing:antialiased;font-smoothing:antialiased;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;-webkit-transition-duration:0.2s;-moz-transition-duration:0.2s;-o-transition-duration:0.2s;transition-duration:0.2s;-webkit-transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);-moz-transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);-o-transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);-webkit-transition-delay:0.1s;-moz-transition-delay:0.1s;-o-transition-delay:0.1s;transition-delay:0.1s;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;background-color:#000;background-color:rgba(0,0,0,0.85);overflow:hidden;padding:5% 10%;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;z-index:200}

.media-rollover .media-title{font-family: "open sans", sans-serif;font-style:normal;font-weight:600;color:#fff;font-size:22px;margin-bottom:3px}
.media-rollover .media-tag{color:#fff}
.media-rollover .divider{margin-bottom:18px;padding-bottom:18px;position:relative}
.media-rollover .divider:after{left:0;right:0;margin:0 auto;position:absolute;background-color:#e8e8e8;content:"";width:65px;height:3px;bottom:0}
a.media-box.active,a.media-box:hover,a.media-box:focus{overflow:visible}
@media (min-width: 60em){
	a.media-box.active .media-overlay,a.media-box:hover .media-overlay,a.media-box:focus .media-overlay{opacity:0}}.lt-ie9 a.media-box.active .media-overlay,.lt-ie9 a.media-box:hover .media-overlay,.lt-ie9 a.media-box:focus .media-overlay{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}
	@media (min-width: 60em){a.media-box.active .media-rollover,a.media-box:hover .media-rollover,a.media-box:focus .media-rollover{opacity:1}}.lt-ie9 a.media-box.active .media-rollover,.lt-ie9 a.media-box:hover .media-rollover,.lt-ie9 a.media-box:focus .media-rollover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}.media-video{clear:both;display:block;position:relative;width:100%}.media-video video{display:none;width:100%;max-width:100%;height:auto;top:0;left:0}


/*================ no-gutters Class Rules ================*/
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

/*================ columns of same height styles ================*/

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}
@media (max-width:768px){
	.aggie-buttons .btn-primary {margin-top: 15px;}
	.navbar-fixed-top {
    position: relative;}
	#hero {margin-top: 0px;}
	.overlay {display: none;}
	#main-navigation {background-color: #f8f8f8; margin-top: -20px;}
	#main-navigation ul.navbar-nav li > a {color: #490513;
font-size: 1em;
font-weight: bold;}
	#main-navigation ul.navbar-nav li > a:hover, #main-navigation ul.navbar-nav li > a:focus, #main-navigation ul.navbar-nav li > a:active, #main-navigation ul.navbar-nav li > a:visited {background-color: #ffffff;}
	.bold-links {margin-top: 0px; text-align:center; padding-top: 10px; padding-bottom: 10px;}
	.quick-links a{margin-bottom: 15px;}
	.navbar > .container-fluid .navbar-brand {
    margin-top: -10px;}
	.carousel-caption {
    bottom: 20px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form  {
    border-color: rgb(136, 35, 69);
	box-shadow: none;
}
.navbar-nav .open .dropdown-menu {background-color: #F8F8F8; border-radius: none;}
.inline-block {
    display: block !important;
}
#sidebar {margin-top: 50px;}
	}
	@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding: 10px 9px;
	font-size: 85% !important;
    line-height: 1.2;
  }
}

@media (max-width:567px){
.carousel-caption h2 {font-size: 2.5em !important;}}
@media (max-width:480px){
.carousel-caption p  {font-size: 16px !important;}
.carousel-caption h2, .carousel-caption h1 {font-size: 1.5em !important;} 
#hero h2  {
    font-size: 2em !important;
	padding-right: 5px;}
#hero h1  {
    font-size: 2em !important;
	padding-right: 5px;}
.btn-outline, .btn-outline:link, .btn-outline:visited {
    margin-top: 10px;}
.cta-space {margin-left: 10px;}

	}
@media (max-width:378px){.navbar-brand img {width: 200px; height: 34px; padding-left: 2px;}}
@media (max-width:328px){.navbar-brand img {width: 175px; height: 30px;}}